*/esp8266-kinetis/Sources/config.h
/esp8266-kinetis/Generated_Code/*
esp8266-kinetis/.esp8266-kinetis.g_c
esp8266-kinetis/.esp8266-kinetis.g_x
esp8266-kinetis/Documentation/*
esp8266-kinetis/.settings/language.settings.xml

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
